src/main/webapp/WEB-INF/applicationContext.xml
src/main/webapp/WEB-INF/page/
src/main/resources/config.properties
src/main/resources/config-dev.properties
src/main/resources/config-prod.properties
target/