/* Padding below the footer and lighter body text */

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}

.navbar-dark .navbar-nav .highligh-focus.nav-link:focus {
  color: #fff
}
